.switch {
  position: absolute;
  top: 5%;
  left: 90%;
  transition: 1.5s linear;
  opacity: 0;
}

.switch-btn {
  display: inline-block;
  width: 2rem; /* ширина переключателя */
  height: 1rem; /* высота переключателя */
  border-radius: 12px; /* радиус скругления */
  background: #bfbfbf; /* цвет фона */
  z-index: 2;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
  content: '';
  height: 1.5rem; /* высота кнопки */
  width: 1.5rem; /* ширина кнопки */
  border-radius: 18px; /* радиус кнопки */
  background: #e4c5aa;
  top: -0.2rem; /* положение кнопки по вертикали относительно основы */
  left: -0.3rem; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  box-shadow: 0 0 10px 0 #999999; /* тень */
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: #fff;
  box-shadow: inset 0 0 10px 0 #999999; /* тень */
}
.switch-on::after {
  left: 1rem;

  background: rgb(111, 132, 190);
}
