@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --index: calc(1vw+1vh);
}

#root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  font-size: calc(var(--index) * 1.3);

  transition: all 0.5s linear;
}

.wrapper {
  background-color: #02293d;
  /* background-color: #5c6366; */
}

.light {
  background-color: #caa56e;
}

.gallery__background {
  background-color: #010d14;
}
